/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #c0b9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Card Styles */
.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  margin: 20px;
}

/* Profile Picture Styles */
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Name Styles */
.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Info Styles */
.info {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

/* Icons Styles */
.icons {
  margin-bottom: 2rem;
}

.icons ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
}

.icons ul li {
  padding: 0.8rem 1rem;
  background-color: #c0b9ff;
  border-radius: 5rem;
  cursor: pointer;
}

.icons img {
  width: 1.5rem;
}

/* About Styles */
.about {
  margin-bottom: 2rem;
}

.about h3 {
  margin-bottom: 1rem;
}

/* Contact Styles */
.contact {
  margin-bottom: 2rem;
  text-align: start;
}

.contact h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 0.5rem;
}

/* Button Styles */
.btn {
  text-align: start;
  margin-bottom: 2rem;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.our-products h2 {
  margin-bottom: 2rem;
}

.img-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.img-grid img {
  width: 220px;
  border-radius: 1rem;
}


.footer p {
  font-size: 0.8rem;
  color: #666;
}


#card-area {
  padding: 50px 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #000000f7 100%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px;
  text-align: start;
  font-size: 14px;
  transition: height 0.2s;
}

.overlay h3 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.overlay p {
  color: #f1f1f1;
}

.boxLhover img {
  transform: scale(1.2);
}

.box:hover .overlay {
  height: 100%;
}


/* Responsive Design */
@media only screen and (max-width: 768px) {
  .card {
    width: 400px;
  }


  .img-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 300px;
  }

  .profile-pic {
    width: 80px;
    height: 80px;
  }

  .name {
    font-size: 20px;
  }

  .info {
    font-size: 12px;
  }

  .icons i {
    font-size: 16px;
  }


  .img-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .overlay h3 {
    font-size: 1rem;
  }

  .overlay p {
    font-size: 0.8rem;
  }

}